
/* Основные стили страницы */
html body {
    background: #f5f5f5fb;
    color: #000000; /* Цвет текста изменён на чёрный для лучшей видимости */
    background-image: url('img/fon.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Убедитесь, что изображение охватывает весь фон */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-attachment: fixed; /* Фон фиксируется при прокрутке */
    height: 100%; /* Захватывает всю высоту страницы */
    min-height: 100vh; /* Минимальная высота — высота видимого экрана */
    margin: 0; /* Убирает отступы */
    padding: 0;  
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    animation: changeBackground 50s infinite; /* Анимация на 20 секунд */
}

/* Анимация смены фона */
@keyframes changeBackground {
    0% {
        background-image: url('img/fon.jpg'); /* Первое изображение */
    }
    50% {
        background-image: url('img/beach.jpg'); /* Второе изображение */
    }
    100% {
        background-image: url('img/fon.jpg'); /* Возвращаемся к первому изображению */
    }
}


.container_width {
    max-width: 1200px; /* Максимальная ширина сайта */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0 20px; /* Добавляем отступы по бокам для мобильных устройств */
}


/* Стили для заголовка */
/* Стили для header */
header {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

/* Стили для заголовка */
section.dark_tacrics h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    font-family: 'Orbitron', sans-serif;
}



/* Стили для секции видео */
section.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

video.dark_tactics_video {
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 300px; /* Устанавливает радиус закругления */
    overflow: hidden; /* Гарантирует, что контент видео не выйдет за закругленные края */
}

video.dark_tactics_video:hover {
    transform: scale(1.05);
}



/* Стили для секции состава */
.squad {
    padding: 20px; /* отступы вокруг секции */
    color: #ffffff; /* цвет текста */
    margin-bottom: 40px; /* Отступ снизу */
    border-radius: 10px; /* Закругленные углы */
}

.squad h1 {
    font-size: 2.5em; /* размер заголовка */
    text-align: center; /* центрирование заголовка */
    margin-bottom: 30px; /* отступ снизу */
    margin-top: 80px; /* отступ сверху для всего раздела */
    font-family: 'Arial', sans-serif; /* шрифт заголовка */
    font-family: 'Orbitron', sans-serif;
}

.squad p {
    font-size: 1.2em; /* размер текста */
    line-height: 1.6; /* высота строки для лучшей читаемости */
    margin-bottom: 20px; /* отступ снизу */
    text-align: justify; /* выравнивание текста по ширине */
    padding: 0 20px; /* горизонтальные отступы */
    font-family: 'cyberwar-offense', serif; /* шрифт текста */
    font-family: 'Orbitron', sans-serif;
}


.text_container {
    max-width: 800px; /* Максимальная ширина контейнера для текста */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px; /* Внутренние отступы */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон (по желанию) */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для визуального эффекта */
    text-align: justify; /* Выравнивание текста по ширине */
    color: #ffffff; /* Цвет текста */
    margin-top: 80px; /* отступ сверху для всего раздела */
    font-family: 'Orbitron', sans-serif;
}

.members {
    display: flex; /* выравнивание участников в ряд */
    justify-content: center; /* равномерное распределение */
    margin-top: 20px; /* отступ сверху */
}

.member {
    display: flex; /* используем flex для выравнивания содержимого */
    flex-direction: column; /* расположение элементов по колонке */
    align-items: center; /* центрирование содержимого по горизонтали */
    margin: 30px; /* отступ между участниками */
    
}

.member_image {
    width: 400px; /* ширина изображения */
    height: auto; /* автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* закругленные углы изображения */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* тень для изображения */
    transition: transform 0.5s ease; /* плавный переход для трансформации */
}

.member_image:hover {
    transform: scale(1.1); /* увеличение изображения при наведении */
}

.member p {
    margin-top: 10px; /* отступ сверху для текста */
}


.member_name {
    text-decoration: none; /* убираем подчеркивание */
    color: hsl(304, 100%, 97%); /* цвет ссылки */
    font-weight: bold; /* жирный шрифт */
}
.member_name:hover {
    text-decoration: underline; /* подчеркивание при наведении */
}





/* Стили для секции дискографии */
.discography {
    padding: 20px;
    text-align: center;
}
.discography h1 {
    font-size: 2.5em; /* размер заголовка */
    text-align: center; /* центрирование заголовка */
    margin-bottom: 20px; /* отступ снизу */
    font-family: 'Arial', sans-serif; /* шрифт заголовка */
    color: hsl(304, 100%, 97%);
    font-family: 'Orbitron', sans-serif;
}

.discography nav {
    display: flex; /* Располагаем элементы в строку */
    justify-content: center; /* Центрируем элементы */
    gap: 100px; /* Добавляем расстояние между элементами */
}



.discography_image {
    width:200px; /* Размер изображений */
    height: auto;
    margin-bottom: 10px; /* Отступ между изображением и текстом */
    border-radius: 10px;
}

.discography_image:hover {
    transform: scale(1.1); /* Эффект увеличения при наведении */
}

.discography a {
    color: hsl(0, 0%, 100%);
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-size: 1.2em;
    margin-top: 10px; /* Отступ между изображением и текстом */
    text-align: center;
}

.discography a:hover {
    color: hwb(209 76% 12%); /* Изменение цвета текста при наведении */
}

.discography a {
    margin-top: 10px; /* отступ сверху для текста */

}



/* стили для секции контакты */
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.form_container {
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон (по желанию) */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    max-width: 400px;
    width: 100%;
}

.form_container h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif; /* Киберпанк-шрифт */
    font-size: 24px;
    text-transform: uppercase;
}

.form_container input,
.form_container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.3); /* Прозрачный черный фон */
    border: 1px solid #ffffff; /* Оранжевая рамка */
    color: #a469ac; /* Белый цвет текста */
    border-radius: 5px;
    font-size: 16px;
}

.form_container input::placeholder,
.form_container textarea::placeholder {
    color: hsl(0, 0%, 100%); /* Цвет текста для плейсхолдера */
    text-shadow: 1px 1px 2px hsl(309, 80%, 86%); /* Тень для текста */
}

.form_container button {
    width: 100%;
    padding: 12px;
    background-color: hsl(210, 10%, 11%); /* Оранжевая кнопка */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.form_container button:hover {
    background-color: hsl(0, 0%, 100%); /* Более тёмный оранжевый при наведении */
}







/* Стили для подвала */
footer {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    color: hsl(0, 100%, 97%);
    font-family: 'Orbitron', sans-serif;
}


.swiper-container {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
  }
  
  .swiper-button-prev {
      left: 100px; /* Расположение слева */
  }
  
  .swiper-button-next {
      right: 100px; /* Расположение справа */
  }
  
  .swiper-pagination-bullet {
    background-color: #fff;
  }




  .swiper-slide {
    width: 48%; /* Установите ширину каждого слайда, чтобы уместить два на экране */
    margin-right: 2%; /* Не забудьте учесть отступы между слайдами */
}

button {
    background: none; /* Убирает фон */
    border: none; /* Убирает рамку */
    color: hsl(0, 0%, 100%); /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде руки при наведении */
    
    transition: color 0.3s ease; /* Плавное изменение цвета */
}

button:hover {
    color: hsl(0, 0%, 100%); /* Изменение цвета при наведении */
}

button:focus {
    outline: none; /* Убирает обводку при фокусе */
}

#audioPlayer {
    display: none;
}


/* Адаптивные стили для мобильных устройств (до 600px) */
@media (max-width: 600px) {
    .container_width {
        padding: 0 10px;
    }

    section.dark_tacrics h1 {
        font-size: 2rem; /* Уменьшаем размер заголовка */
    }

    .squad h1 {
        font-size: 1.8em; /* Уменьшаем размер заголовка состава */
    }

    .squad p {
        font-size: 1em; /* Уменьшаем размер текста */
        padding: 0 10px; /* Уменьшаем внутренние отступы */
    }

    .member_image {
        width: 100%; /* Изображения занимают всю ширину экрана */
    }

    .discography nav {
        flex-direction: column; /* Элементы в колонку для удобства на маленьких экранах */
        gap: 20px; /* Уменьшаем расстояние между элементами */
    }

    .discography_image {
        width: 100px; /* Уменьшаем размер изображений */
    }
}

/* Адаптивные стили для планшетов (до 900px) */
@media (max-width: 900px) {
    .container_width {
        padding: 0 15px;
    }

    .members {
        flex-direction: column; /* Участники в колонку на планшетах */
    }

    .member_image {
        width: 300px; /* Уменьшаем ширину изображений */
    }

    .discography nav {
        gap: 50px; /* Уменьшаем расстояние между элементами */
    }

    .discography_image {
        width: 150px; /* Увеличиваем изображения для планшетов */
    }
}

/* Адаптивные стили для ноутбуков и десктопов (до 1200px) */
@media (max-width: 1200px) {
    .container_width {
        max-width: 1000px; /* Уменьшаем максимальную ширину сайта */
    }

    .squad h1 {
        font-size: 2em; /* Корректируем размер заголовка для ноутбуков */
    }

    .member_image {
        width: 350px; /* Увеличиваем изображение участников */
    }
}
